# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

*.iml

# Ignore CSV files
**.CSV
**.csv
**.csv.crc
**.CSV.crc
**.crc
**.CRC

# Ignore object files generated at compilation time
*.o

# Ignore environment files
venv

# Ignore queries
queries
