bokeh==2.3.3
click==8.0.4
cloudpickle==2.0.0
contextvars==2.4
dask==2021.3.0
distributed==2021.3.0
fsspec==2022.1.0
HeapDict==1.0.1
immutables==0.16
importlib-metadata==4.8.3
Jinja2==3.0.3
locket==0.2.1
MarkupSafe==2.0.1
msgpack==1.0.3
numpy==1.19.5
packaging==21.3
pandas==1.1.5
partd==1.2.0
Pillow==8.4.0
psutil==5.9.0
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
six==1.16.0
sortedcontainers==2.4.0
tblib==1.7.0
toolz==0.11.2
tornado==6.1
typing_extensions==4.1.1
zict==2.1.0
zipp==3.6.0
